<div>
  <h1>My Profile</h1>
  <table class="profile-table" cellspacing="0" cellpadding="1" width="200">
    <tr>
      <td><span style="font-weight:bold">Username:</span></td>
      <td>{{currentUser.username}}</td>
    </tr>
    <tr>
      <td><span style="font-weight:bold">First Name:</span></td>
      <td>{{currentUser.firstName}}</td>
    </tr>
    <tr>
      <td><span style="font-weight:bold">Last Name:</span></td>
      <td>{{currentUser.lastName}}</td>
    </tr>
  </table>
  <h3><span style="font-weight:bold">Followed users</span></h3>
  <div class="tablecontainer" style="width:400px; height:400px; overflow:auto;">
    <table class="table table-hover">
      <thead>
      <tr>
        <th>Username</th>
        <th>Aktion</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let user of followedUsers">
        <td><span>{{user.username}}</span></td>
        <td>
          <span><button (click)="unfollowUser(user)">Unfollow</button></span>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
